*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a{
  text-decoration: none;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
  line-height: 1;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
  background: #FAFAFA;;
}

.img {
  vertical-align: top;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
/* img {
  max-width: 100%;
  display: block;
} */

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* Шапка профиля */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header_container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header_container {
    min-height: 70px;
  }
}

.header_logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.header_menu {
  margin: 0 0 0 133px;
}

@media (max-width: 992px) {
  .header_menu {
    margin: 0 0 0 80px;
  }
}

@media (max-width: 767px) {
  .header_menu {
    margin: 0 0 0 50px;
  }
}

@media (max-width: 479px) {
  .header_menu {
    margin: 0 0 0 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu_list {
  display: flex;
  flex-wrap: wrap;
}

.menu_item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu_link {
  color: #737373;
  line-height: 171%;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 479px) {
  .menu_link {
    font-size: 18px;
  }
}

/* Main.................................................. */
.page {
  flex: 1 1 auto;
}

.page_main-block {
}

.page_services {
  margin: -111px 0 0 0;
  position: relative;
  z-index: 2;
}
.page_advantages {

}
.page_practice {

}

/* .......Header-block.......................................... */
.header-block {
text-align: center;
letter-spacing: 0.2;

}
.header-block_title {
font-size: 40px;
line-height: 142%;
font-weight: 700;
}

.header-block_title:not(:last-child) {
  margin: 0 0 10px 0;
}

.header-block_sub-title {
color: #737373;
line-height: 142%;
}

@media (max-width: 992px) {
  .header-block_title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header-block_title {
    font-size: 30px;
  }
}
/* Низ профиля ..............................................*/
.footer {
}

/* Main-block.................................................... */
.main-block {
  position: relative;
}

.main-block_container {
}

.main-block_body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media (max-width: 992px) {
  .main-block_body {
    padding: 120px 0 191px 0;
  }
}

.main-block_body > *:not(last-child) {
  margin: 0 0 35px 0;
}

.main-block_title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block_title {
    font-size: 42px;
  }
}

.main-block_text {
  color: #737373;
  font-size: 20px;
  line-height: calc(30 / 20 * 100%);
}

.main-block_buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block_button {
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: calc(28 / 14 * 100%);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin: 10px 0;
}

@media (max-width:479px) {
  .main-block_button {
    flex: 1 1 100%;
  }
}

.main-block_button:not(:last-child) {
  margin-right: 10px;
}

.main-block_button_orange {
  background: #ff7b47;
  color: #ffffff;
}

.main-block_button_border {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}

.main-block_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 1300px) {
  .main-block_image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

/* ................................................... */

.services {
}

.services_container {}

@media (min-width: 670px){
.services_body {
  display: flex;
  flex-wrap: wrap;
  
}
}

.services_column {
  flex: 0 1 33.333%;
  margin: 0 0 30px 0;
 }

 @media (min-width: 670px){
  .services_column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services_column {
    flex: 0 1 50%;
  }
.services_column:last-child {
  flex: 0 1 100%;
}
}

.services_item {
  min-width: 300px;
  height: 100%;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  padding: 35px;
}

.item-service {}

.item-service_icon {
}

.item-service_green {
  background-color: #0D5C63;
}

.item-service_green .item-service_title {
  color: #ffffff;
}

.item-service_green .item-service_text {
  color: #ffffff;
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service_text {
  line-height: 142%;
  color: #737373;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ............................................................ */

.advantages {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding: 30px 0;
  }
}

.advantages_container {

}

.advantages_header {
margin: 0 0 50px 0;
}

@media (max-width: 767px) {
  .advantages_header {
    margin: 0 0 25px 0;
  }
}

.advantages_body {
  
  margin: 0 -15px -30px;
}

.advantages_column {
  display: flex;
  justify-content: space-between;
 padding: 0 15px;
 margin: 0 0 30px 0;
 
}

@media (max-width: 1020px) {
  .advantages_column {
    flex-wrap: wrap;
  }
}

@media (max-width: 560px) {
  .advantages_column {
    flex: 0 1 100%;
  }
}

.advantages_item {
background-color: #fff;
padding: 30px;
text-align: center;
font-weight: 700;
margin: 0 15px;
width: 100%;
}
.advantages_item > *:not(:last-child) {
  margin: 0n 0 10px 0;
}

.advantages_icon {
height: 48px;
display: flex;
align-items: flex-end;
justify-content: center;
}

.advantages_value {
font-size: 40px;
line-height: 142%;

}

.advantages_text {
color: #737373;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.1;
}

/* .............................................................. */

.practice {
  padding: 125px 0 80px 0;
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}

@media (max-width: 767px) {
  .practice {
    padding: 0 0 40px 0;
  }
}

.practice_container {

}

.practice_header {
  margin: 0 0 45px 0;
}

@media (max-width: 767px) {
  .practice_header {
    margin: 0 0 25px 0;
  }
}

.practice_body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice_column {
  padding: 0  20px;
  margin: 0 0 30px 0;
  flex: 0 1 25%; 
}

@media (max-width: 1040px) {
  .practice_column {
    flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .practice_column {
    flex: 0 1 100%;
  }
}

.practice_item {
 
}

.item-practice {
  background-color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.item-practice_content {
  padding: 30px;
  flex: 1 1 auto;
  
}

.item-practice_link {
color: inherit;
display: inline-block;
}

.item-practice_link:hover {
  text-decoration: underline;
}

.item-practice_link:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-practice_title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.item-practice_text {
color: #737373;
line-height: 142%;

}

.item-practice_image {
display: block;
padding: 0 0 67% 0;
}

/* ....Describe................................................. */

.describe {
background-color: #fff;
padding: 100px 0 80px 0;
margin: 0 0 35px 0;
}

.describe_container {

}

.describe_header {
 margin: 0 0 100px 0;
}

.describe_body{
display: flex;
}

@media (max-width: 1015px) {
  .describe_body {
    flex-direction: column;

  }
}

.describe_video {

 
}

.describe_image img{
  
}

.describe_image {

}

@media (max-width: 1015px) {
  .describe_image img{
    width: 90%;
  }
}

@media (max-width: 1015px) {
  .describe_image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.describe_content {
margin: 0 0 0 115px;
}

@media (max-width: 1015px) {
  .describe_content {
    margin: 0 auto;
    width: 80%;
  }
}

.describe_content-text {
margin: 0 0 30px 0;
padding: 20px 0 20px 0;
}

.describe_content-additions {
  
}

.addition_content-text {
  display: flex;
  margin: 0 0 30px 0;
  
}

.addition_icon {

}

.addition_text {
margin: 0 0 0 20px;
}

.addition_title {
margin: 0 0 5px 0;
font-weight: 700;
color: #252B42;
font-size: 16px;
line-height: calc(24/16 *100%);
}

.addition_sub-title {
font-size: 14px;
font-weight: 600;
line-height: calc(24/14 * 100%);
color: #737373;
}

/* .......Subscribe................................................ */

